<!-- only for data tables -->
<script type="text/javascript" src="http://yui.yahooapis.com/2.5.2/build/dragdrop/dragdrop-min.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.5.2/build/element/element-beta-min.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.5.2/build/datasource/datasource-beta-min.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.5.2/build/datatable/datatable-beta-min.js"></script>

<!--begin custom header content for this example-->
<style type="text/css">
/* custom styles for this example */
.yui-skin-sam .yui-dt-liner { white-space:nowrap; }
</style>
<!--end custom header content for this example-->

<div id="basic"></div>


<script type="text/javascript">
    YAHOO.util.Event.addListener(window, "load", function() {
        YAHOO.example.EnhanceFromMarkup = new function() {
        var myColumnDefs = [
            {key:"Name", label:"Name", sortable:true},
//            {key:"Description",label:"Description", sortable:true},
            {key:"Parent",label:"Parent", sortable:true},
			{key:"Created by",label:"Created by", sortable:true},
			{key:"Updated by",label:"Updated By", sortable:true},
            {key:"Show",label:"Show", sortable:false},
            {key:"Edit",label:"Edit", sortable:false},
            {key:"Delete",label:"Delete", sortable:false}
        ];

        this.parseNumberFromCurrency = function(sString) {
            // Remove dollar sign and make it a float
            return parseFloat(sString.substring(1));
        };

        this.myDataSource = new YAHOO.util.DataSource(YAHOO.util.Dom.get("companies"));
        this.myDataSource.responseType = YAHOO.util.DataSource.TYPE_HTMLTABLE;
        this.myDataSource.responseSchema = {
            fields: [{key:"Name"},
//                    {key:"Description"},
                    {key:"Parent"},
					{key:"Created by"},
					{key:"Updated by"},
                    {key:"Show"},
                    {key:"Edit"},
                    {key:"Delete"}
            ]
        };

        this.myDataTable = new YAHOO.widget.DataTable("markup", myColumnDefs, this.myDataSource,
                {caption:"All Companies",
                sortedBy:{key:"due",dir:"desc"}}
        );
    };
});

</script>


<h1>Listing companies</h1>

<div id="markup">
	<table id="companies">
<!--
	  <tr>
	    <th>Name</th>
	    <th>Website</th>
	    <th>Company type</th>
	    <th>Status</th>
	    <th>Description</th>
	    <th>Created by</th>
	    <th>Updated by</th>
	  </tr>
-->	
	<% for company in @companies %>
	  <tr>
	    <td><%=h company.name %></td>
<!--
	    <td><%=h company.website %></td>
	    <td><%=h company.company_type %></td>
	    <td><%=h company.status %></td>
-->
	    <td><%=h company.description %></td>
		<td>
			<% unless company.created_by == nil %>
		    <%=h company.created_by.login %>
			<% end %>
		</td>
		<td>
			<% unless company.updated_by == nil %>
		    <%=h company.updated_by.login %>
			<% end %>
		</td>
	    <td><%= link_to 'Show', company %></td>
	    <td><%= link_to 'Edit', edit_company_path(company) %></td>
	    <td><%= link_to 'Destroy', company, :confirm => 'Are you sure?', :method => :delete %></td>
	  </tr>
	<% end %>
	</table>
</div>

<br />

<%= link_to 'New company', new_company_path %>
