<h1>New company</h1>

<% form_for(@company) do |form| %>
  <%= form.error_messages %>

  <p>
    <%= form.label :name %><br />
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :website %><br />
    <%= form.text_field :website %>
  </p>
  <p>
    <%= form.label :company_type %><br />
    <%= form.text_field :company_type %>
  </p>
  <p>
    <%= form.label :status %><br />
    <%= form.text_field :status %>
  </p>
  <p>
    <%= form.label :description %><br />
    <%= form.text_area :description %>
  </p>

  <% fields_for :location do |f| %>
	    <p>
	    <%= f.label :line1 %><br />
	    <%= f.text_field :line1 %>
	  </p>
	  <p>
	    <%= f.label :line2 %><br />
	    <%= f.text_field :line2 %>
	  </p>
	  <p>
	    <%= f.label :city %><br />
	    <%= f.text_field :city %>
	  </p>
	  <p>
	    <%= f.label :state %><br />
	    <%= f.text_field :state %>
	  </p>
	  <p>
	    <%= f.label :pin %><br />
	    <%= f.text_field :pin %>
	  </p>
	  <p>
	    <%= f.label :country %><br />
	    <%= f.text_field :country %>
	  </p>
	<% end %>

  <p>
    <%= form.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', companies_path %>
