<p>
  <b>Name:</b>
  <%=h @company.name %>
</p>

<p>
  <b>Website:</b>
  <%=h @company.website %>
</p>

<p>
  <b>Status:</b>
  <%=h @company.status %>
</p>

<p>
  <b>Description:</b>
  <%=h @company.description %>
</p>

<p>
	<b>Location</b>
</p>
<p>
  <b>Line1:</b>
  <%=h @company.location.line1 %>
</p>

<p>
  <b>Line2:</b>
  <%=h @company.location.line2 %>
</p>

<p>
  <b>City:</b>
  <%=h @company.location.city %>
</p>

<p>
  <b>State:</b>
  <%=h @company.location.state %>
</p>

<p>
  <b>Pin:</b>
  <%=h @company.location.pin %>
</p>

<p>
  <b>Country:</b>
  <%=h @company.location.country %>
</p>



<p>
  <b>Created by:</b>
  <%=h @company.created_by.login %>
</p>

<p>
  <b>Updated by:</b>
  <%=h @company.updated_by.login %>
</p>




<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
